In [1]:
import psycopg2

In [14]:
# Connect to the postgres database
conn = psycopg2.connect("host=d2b-internal-assessment-dwh.cxeuj0ektqdz.eu-central-1.rds.amazonaws.com dbname=d2b_assessment user=peluader5437 password=QjtB6Djwd0")
cur = conn.cursor()

In [189]:
cur.execute("SELECT product_name, SUM(review) as tt_review FROM if_common.dim_products dp JOIN peluader5437_staging.reviews sr ON dp.product_id = sr.product_id GROUP BY product_name;")

# conn.commit()

In [190]:
data = cur.fetchall()

In [197]:
import pandas as pd
cols = []
for elt in cur.description:
    cols.append(elt[0])
df = pd.DataFrame(data=data, columns=cols)
df.to_csv('./dataset/test.csv')

In [198]:
conn.close()

In [98]:
cur.execute("SELECT MAX(tt_review) FROM (SELECT product_name, SUM(review) as tt_review FROM if_common.dim_products dp JOIN peluader5437_staging.reviews sr ON dp.product_id = sr.product_id GROUP BY product_name) AS tt;") # Sql command to list all available schemas in the database
conn.commit()

In [99]:
cur.fetchall()

[(967,)]

In [21]:
cur.execute("SELECT schema_name FROM information_schema.schemata;") # Sql command to list all available schemas in the database
conn.commit()

In [22]:
cur.fetchall() #List all available schemas

[('pg_catalog',),
 ('information_schema',),
 ('public',),
 ('if_common',),
 ('peluader5437_staging',),
 ('peluader5437_analytics',)]

In [25]:
cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'peluader5437_staging' ORDER BY table_name;") #SQL command to print the tables in this particular schema
conn.commit()

In [26]:
cur.fetchall() # From the result, we can see there is no table yet in this schema

[('orders',), ('reviews',), ('shipments_deliveries',)]

In [29]:
cur.execute("SELECT * FROM information_schema.tables WHERE table_schema = 'peluader5437_analytics';") #SQL command to print the tables in this particular schema
conn.commit()

In [30]:
cur.fetchall() # From the result, we can see there is no table yet in this schema

[]

In [108]:
cur.execute("select * from peluader5437_staging.orders LIMIT 50;") # SQL command to print the tables in this particular schema
conn.commit()

In [109]:
cur.fetchall() # We can see all the tables in the if_common schema listed

[(1, 5, datetime.date(2022, 7, 13), '24', 139, 10, 1390),
 (2, 14, datetime.date(2021, 4, 6), '2', 273, 4, 1092),
 (3, 17, datetime.date(2022, 7, 29), '20', 253, 9, 2277),
 (4, 14, datetime.date(2022, 8, 27), '8', 334, 1, 334),
 (5, 25, datetime.date(2021, 12, 15), '6', 334, 3, 1002),
 (6, 7, datetime.date(2021, 4, 15), '25', 144, 7, 1008),
 (7, 4, datetime.date(2021, 9, 28), '12', 876, 1, 876),
 (8, 24, datetime.date(2021, 5, 8), '15', 994, 7, 6958),
 (9, 3, datetime.date(2022, 1, 6), '18', 641, 4, 2564),
 (10, 23, datetime.date(2021, 8, 22), '3', 841, 5, 4205),
 (11, 3, datetime.date(2022, 1, 25), '8', 334, 8, 2672),
 (12, 21, datetime.date(2022, 1, 15), '12', 413, 4, 1652),
 (13, 22, datetime.date(2021, 6, 25), '9', 596, 4, 2384),
 (14, 6, datetime.date(2021, 10, 4), '15', 997, 9, 8973),
 (15, 8, datetime.date(2021, 2, 27), '22', 284, 1, 284),
 (16, 11, datetime.date(2021, 3, 9), '13', 266, 10, 2660),
 (17, 23, datetime.date(2022, 5, 27), '11', 455, 8, 3640),
 (18, 5, datetime.date(2021, 9, 10), '9', 812, 9, 7308),
 (19, 18, datetime.date(2022, 3, 15), '9', 969, 10, 9690),
 (20, 13, datetime.date(2021, 5, 22), '12', 571, 8, 4568),
 (21, 3, datetime.date(2021, 4, 23), '25', 206, 3, 618),
 (22, 22, datetime.date(2021, 3, 7), '14', 444, 7, 3108),
 (23, 20, datetime.date(2021, 9, 15), '15', 616, 1, 616),
 (24, 22, datetime.date(2022, 7, 4), '24', 818, 5, 4090),
 (25, 25, datetime.date(2021, 4, 25), '21', 350, 7, 2450),
 (26, 6, datetime.date(2021, 9, 27), '15', 562, 3, 1686),
 (27, 17, datetime.date(2022, 6, 4), '4', 673, 4, 2692),
 (28, 5, datetime.date(2022, 7, 7), '12', 847, 9, 7623),
 (29, 1, datetime.date(2022, 5, 16), '20', 69, 2, 138),
 (30, 12, datetime.date(2021, 3, 1), '10', 296, 10, 2960),
 (31, 3, datetime.date(2021, 3, 12), '3', 828, 9, 7452),
 (32, 25, datetime.date(2022, 5, 2), '5', 612, 3, 1836),
 (33, 9, datetime.date(2021, 8, 5), '17', 602, 4, 2408),
 (34, 23, datetime.date(2022, 1, 18), '10', 498, 9, 4482),
 (35, 15, datetime.date(2021, 8, 19), '4', 115, 6, 690),
 (36, 1, datetime.date(2021, 8, 24), '19', 652, 4, 2608),
 (37, 1, datetime.date(2021, 8, 23), '3', 119, 1, 119),
 (38, 11, datetime.date(2021, 9, 1), '3', 335, 8, 2680),
 (39, 7, datetime.date(2022, 8, 8), '18', 640, 8, 5120),
 (40, 8, datetime.date(2021, 7, 14), '16', 146, 2, 292),
 (41, 22, datetime.date(2022, 3, 10), '14', 470, 8, 3760),
 (42, 24, datetime.date(2021, 3, 4), '2', 462, 6, 2772),
 (43, 4, datetime.date(2021, 7, 14), '8', 599, 8, 4792),
 (44, 5, datetime.date(2021, 10, 13), '14', 523, 4, 2092),
 (45, 3, datetime.date(2021, 4, 11), '15', 101, 9, 909),
 (46, 1, datetime.date(2021, 6, 20), '3', 466, 8, 3728),
 (47, 16, datetime.date(2021, 3, 2), '7', 218, 7, 1526),
 (48, 1, datetime.date(2022, 4, 11), '13', 342, 7, 2394),
 (49, 23, datetime.date(2022, 5, 14), '24', 208, 4, 832),
 (50, 10, datetime.date(2022, 8, 17), '7', 803, 9, 7227)]

In [110]:
cur.execute("select * from if_common.dim_dates;") # SQL command to print the tables in this particular schema
conn.commit()

In [111]:
cur.fetchall() # We can see all the tables in the if_common schema listed

[(datetime.date(2015, 1, 1), 2015, 1, 1, 4, False),
 (datetime.date(2015, 1, 2), 2015, 1, 2, 5, True),
 (datetime.date(2015, 1, 3), 2015, 1, 3, 6, False),
 (datetime.date(2015, 1, 4), 2015, 1, 4, 7, False),
 (datetime.date(2015, 1, 5), 2015, 1, 5, 1, True),
 (datetime.date(2015, 1, 6), 2015, 1, 6, 2, True),
 (datetime.date(2015, 1, 7), 2015, 1, 7, 3, True),
 (datetime.date(2015, 1, 8), 2015, 1, 8, 4, True),
 (datetime.date(2015, 1, 9), 2015, 1, 9, 5, True),
 (datetime.date(2015, 1, 10), 2015, 1, 10, 6, False),
 (datetime.date(2015, 1, 11), 2015, 1, 11, 7, False),
 (datetime.date(2015, 1, 12), 2015, 1, 12, 1, True),
 (datetime.date(2015, 1, 13), 2015, 1, 13, 2, True),
 (datetime.date(2015, 1, 14), 2015, 1, 14, 3, True),
 (datetime.date(2015, 1, 15), 2015, 1, 15, 4, True),
 (datetime.date(2015, 1, 16), 2015, 1, 16, 5, True),
 (datetime.date(2015, 1, 17), 2015, 1, 17, 6, False),
 (datetime.date(2015, 1, 18), 2015, 1, 18, 7, False),
 (datetime.date(2015, 1, 19), 2015, 1, 19, 1, True),
 (datetime.date(2015, 1, 20), 2015, 1, 20, 2, True),
 (datetime.date(2015, 1, 21), 2015, 1, 21, 3, True),
 (datetime.date(2015, 1, 22), 2015, 1, 22, 4, True),
 (datetime.date(2015, 1, 23), 2015, 1, 23, 5, True),
 (datetime.date(2015, 1, 24), 2015, 1, 24, 6, False),
 (datetime.date(2015, 1, 25), 2015, 1, 25, 7, False),
 (datetime.date(2015, 1, 26), 2015, 1, 26, 1, True),
 (datetime.date(2015, 1, 27), 2015, 1, 27, 2, True),
 (datetime.date(2015, 1, 28), 2015, 1, 28, 3, True),
 (datetime.date(2015, 1, 29), 2015, 1, 29, 4, True),
 (datetime.date(2015, 1, 30), 2015, 1, 30, 5, True),
 (datetime.date(2015, 1, 31), 2015, 1, 31, 6, False),
 (datetime.date(2015, 2, 1), 2015, 2, 1, 7, False),
 (datetime.date(2015, 2, 2), 2015, 2, 2, 1, True),
 (datetime.date(2015, 2, 3), 2015, 2, 3, 2, True),
 (datetime.date(2015, 2, 4), 2015, 2, 4, 3, True),
 (datetime.date(2015, 2, 5), 2015, 2, 5, 4, True),
 (datetime.date(2015, 2, 6), 2015, 2, 6, 5, True),
 (datetime.date(2015, 2, 7), 2015, 2, 7, 6, False),
 (datetime.date(2015, 2, 8), 2015, 2, 8, 7, False),
 (datetime.date(2015, 2, 9), 2015, 2, 9, 1, True),
 (datetime.date(2015, 2, 10), 2015, 2, 10, 2, True),
 (datetime.date(2015, 2, 11), 2015, 2, 11, 3, True),
 (datetime.date(2015, 2, 12), 2015, 2, 12, 4, True),
 (datetime.date(2015, 2, 13), 2015, 2, 13, 5, True),
 (datetime.date(2015, 2, 14), 2015, 2, 14, 6, False),
 (datetime.date(2015, 2, 15), 2015, 2, 15, 7, False),
 (datetime.date(2015, 2, 16), 2015, 2, 16, 1, True),
 (datetime.date(2015, 2, 17), 2015, 2, 17, 2, True),
 (datetime.date(2015, 2, 18), 2015, 2, 18, 3, True),
 (datetime.date(2015, 2, 19), 2015, 2, 19, 4, True),
 (datetime.date(2015, 2, 20), 2015, 2, 20, 5, True),
 (datetime.date(2015, 2, 21), 2015, 2, 21, 6, False),
 (datetime.date(2015, 2, 22), 2015, 2, 22, 7, False),
 (datetime.date(2015, 2, 23), 2015, 2, 23, 1, True),
 (datetime.date(2015, 2, 24), 2015, 2, 24, 2, True),
 (datetime.date(2015, 2, 25), 2015, 2, 25, 3, True),
 (datetime.date(2015, 2, 26), 2015, 2, 26, 4, True),
 (datetime.date(2015, 2, 27), 2015, 2, 27, 5, True),
 (datetime.date(2015, 2, 28), 2015, 2, 28, 6, False),
 (datetime.date(2015, 3, 1), 2015, 3, 1, 7, False),
 (datetime.date(2015, 3, 2), 2015, 3, 2, 1, True),
 (datetime.date(2015, 3, 3), 2015, 3, 3, 2, True),
 (datetime.date(2015, 3, 4), 2015, 3, 4, 3, True),
 (datetime.date(2015, 3, 5), 2015, 3, 5, 4, True),
 (datetime.date(2015, 3, 6), 2015, 3, 6, 5, True),
 (datetime.date(2015, 3, 7), 2015, 3, 7, 6, False),
 (datetime.date(2015, 3, 8), 2015, 3, 8, 7, False),
 (datetime.date(2015, 3, 9), 2015, 3, 9, 1, True),
 (datetime.date(2015, 3, 10), 2015, 3, 10, 2, True),
 (datetime.date(2015, 3, 11), 2015, 3, 11, 3, True),
 (datetime.date(2015, 3, 12), 2015, 3, 12, 4, True),
 (datetime.date(2015, 3, 13), 2015, 3, 13, 5, True),
 (datetime.date(2015, 3, 14), 2015, 3, 14, 6, False),
 (datetime.date(2015, 3, 15), 2015, 3, 15, 7, False),
 (datetime.date(2015, 3, 16), 2015, 3, 16, 1, True),
 (datetime.date(2015, 3, 17), 2015, 3, 17, 2, True),
 (datetime.date(2015, 3, 18), 2015, 3, 18, 3, True),
 (datetime.date(2015, 3, 19), 2015, 3, 19, 4, True),
 (datetime.date(2015, 3, 20), 2015, 3, 20, 5, True),
 (datetime.date(2015, 3, 21), 2015, 3, 21, 6, False),
 (datetime.date(2015, 3, 22), 2015, 3, 22, 7, False),
 (datetime.date(2015, 3, 23), 2015, 3, 23, 1, True),
 (datetime.date(2015, 3, 24), 2015, 3, 24, 2, True),
 (datetime.date(2015, 3, 25), 2015, 3, 25, 3, True),
 (datetime.date(2015, 3, 26), 2015, 3, 26, 4, True),
 (datetime.date(2015, 3, 27), 2015, 3, 27, 5, True),
 (datetime.date(2015, 3, 28), 2015, 3, 28, 6, False),
 (datetime.date(2015, 3, 29), 2015, 3, 29, 7, False),
 (datetime.date(2015, 3, 30), 2015, 3, 30, 1, True),
 (datetime.date(2015, 3, 31), 2015, 3, 31, 2, True),
 (datetime.date(2015, 4, 1), 2015, 4, 1, 3, False),
 (datetime.date(2015, 4, 2), 2015, 4, 2, 4, True),
 (datetime.date(2015, 4, 3), 2015, 4, 3, 5, True),
 (datetime.date(2015, 4, 4), 2015, 4, 4, 6, False),
 (datetime.date(2015, 4, 5), 2015, 4, 5, 7, False),
 (datetime.date(2015, 4, 6), 2015, 4, 6, 1, True),
 (datetime.date(2015, 4, 7), 2015, 4, 7, 2, True),
 (datetime.date(2015, 4, 8), 2015, 4, 8, 3, True),
 (datetime.date(2015, 4, 9), 2015, 4, 9, 4, True),
 (datetime.date(2015, 4, 10), 2015, 4, 10, 5, True),
 (datetime.date(2015, 4, 11), 2015, 4, 11, 6, False),
 (datetime.date(2015, 4, 12), 2015, 4, 12, 7, False),
 (datetime.date(2015, 4, 13), 2015, 4, 13, 1, True),
 (datetime.date(2015, 4, 14), 2015, 4, 14, 2, True),
 (datetime.date(2015, 4, 15), 2015, 4, 15, 3, True),
 (datetime.date(2015, 4, 16), 2015, 4, 16, 4, True),
 (datetime.date(2015, 4, 17), 2015, 4, 17, 5, True),
 (datetime.date(2015, 4, 18), 2015, 4, 18, 6, False),
 (datetime.date(2015, 4, 19), 2015, 4, 19, 7, False),
 (datetime.date(2015, 4, 20), 2015, 4, 20, 1, True),
 (datetime.date(2015, 4, 21), 2015, 4, 21, 2, True),
 (datetime.date(2015, 4, 22), 2015, 4, 22, 3, True),
 (datetime.date(2015, 4, 23), 2015, 4, 23, 4, True),
 (datetime.date(2015, 4, 24), 2015, 4, 24, 5, True),
 (datetime.date(2015, 4, 25), 2015, 4, 25, 6, False),
 (datetime.date(2015, 4, 26), 2015, 4, 26, 7, False),
 (datetime.date(2015, 4, 27), 2015, 4, 27, 1, True),
 (datetime.date(2015, 4, 28), 2015, 4, 28, 2, True),
 (datetime.date(2015, 4, 29), 2015, 4, 29, 3, True),
 (datetime.date(2015, 4, 30), 2015, 4, 30, 4, True),
 (datetime.date(2015, 5, 1), 2015, 5, 1, 5, False),
 (datetime.date(2015, 5, 2), 2015, 5, 2, 6, False),
 (datetime.date(2015, 5, 3), 2015, 5, 3, 7, False),
 (datetime.date(2015, 5, 4), 2015, 5, 4, 1, True),
 (datetime.date(2015, 5, 5), 2015, 5, 5, 2, True),
 (datetime.date(2015, 5, 6), 2015, 5, 6, 3, True),
 (datetime.date(2015, 5, 7), 2015, 5, 7, 4, True),
 (datetime.date(2015, 5, 8), 2015, 5, 8, 5, True),
 (datetime.date(2015, 5, 9), 2015, 5, 9, 6, False),
 (datetime.date(2015, 5, 10), 2015, 5, 10, 7, False),
 (datetime.date(2015, 5, 11), 2015, 5, 11, 1, True),
 (datetime.date(2015, 5, 12), 2015, 5, 12, 2, True),
 (datetime.date(2015, 5, 13), 2015, 5, 13, 3, True),
 (datetime.date(2015, 5, 14), 2015, 5, 14, 4, True),
 (datetime.date(2015, 5, 15), 2015, 5, 15, 5, True),
 (datetime.date(2015, 5, 16), 2015, 5, 16, 6, False),
 (datetime.date(2015, 5, 17), 2015, 5, 17, 7, False),
 (datetime.date(2015, 5, 18), 2015, 5, 18, 1, True),
 (datetime.date(2015, 5, 19), 2015, 5, 19, 2, True),
 (datetime.date(2015, 5, 20), 2015, 5, 20, 3, True),
 (datetime.date(2015, 5, 21), 2015, 5, 21, 4, True),
 (datetime.date(2015, 5, 22), 2015, 5, 22, 5, True),
 (datetime.date(2015, 5, 23), 2015, 5, 23, 6, False),
 (datetime.date(2015, 5, 24), 2015, 5, 24, 7, False),
 (datetime.date(2015, 5, 25), 2015, 5, 25, 1, True),
 (datetime.date(2015, 5, 26), 2015, 5, 26, 2, True),
 (datetime.date(2015, 5, 27), 2015, 5, 27, 3, True),
 (datetime.date(2015, 5, 28), 2015, 5, 28, 4, True),
 (datetime.date(2015, 5, 29), 2015, 5, 29, 5, True),
 (datetime.date(2015, 5, 30), 2015, 5, 30, 6, False),
 (datetime.date(2015, 5, 31), 2015, 5, 31, 7, False),
 (datetime.date(2015, 6, 1), 2015, 6, 1, 1, True),
 (datetime.date(2015, 6, 2), 2015, 6, 2, 2, True),
 (datetime.date(2015, 6, 3), 2015, 6, 3, 3, True),
 (datetime.date(2015, 6, 4), 2015, 6, 4, 4, True),
 (datetime.date(2015, 6, 5), 2015, 6, 5, 5, True),
 (datetime.date(2015, 6, 6), 2015, 6, 6, 6, False),
 (datetime.date(2015, 6, 7), 2015, 6, 7, 7, False),
 (datetime.date(2015, 6, 8), 2015, 6, 8, 1, True),
 (datetime.date(2015, 6, 9), 2015, 6, 9, 2, True),
 (datetime.date(2015, 6, 10), 2015, 6, 10, 3, True),
 (datetime.date(2015, 6, 11), 2015, 6, 11, 4, True),
 (datetime.date(2015, 6, 12), 2015, 6, 12, 5, False),
 (datetime.date(2015, 6, 13), 2015, 6, 13, 6, False),
 (datetime.date(2015, 6, 14), 2015, 6, 14, 7, False),
 (datetime.date(2015, 6, 15), 2015, 6, 15, 1, True),
 (datetime.date(2015, 6, 16), 2015, 6, 16, 2, True),
 (datetime.date(2015, 6, 17), 2015, 6, 17, 3, True),
 (datetime.date(2015, 6, 18), 2015, 6, 18, 4, True),
 (datetime.date(2015, 6, 19), 2015, 6, 19, 5, True),
 (datetime.date(2015, 6, 20), 2015, 6, 20, 6, False),
 (datetime.date(2015, 6, 21), 2015, 6, 21, 7, False),
 (datetime.date(2015, 6, 22), 2015, 6, 22, 1, True),
 (datetime.date(2015, 6, 23), 2015, 6, 23, 2, True),
 (datetime.date(2015, 6, 24), 2015, 6, 24, 3, True),
 (datetime.date(2015, 6, 25), 2015, 6, 25, 4, True),
 (datetime.date(2015, 6, 26), 2015, 6, 26, 5, True),
 (datetime.date(2015, 6, 27), 2015, 6, 27, 6, False),
 (datetime.date(2015, 6, 28), 2015, 6, 28, 7, False),
 (datetime.date(2015, 6, 29), 2015, 6, 29, 1, True),
 (datetime.date(2015, 6, 30), 2015, 6, 30, 2, True),
 (datetime.date(2015, 7, 1), 2015, 7, 1, 3, True),
 (datetime.date(2015, 7, 2), 2015, 7, 2, 4, True),
 (datetime.date(2015, 7, 3), 2015, 7, 3, 5, True),
 (datetime.date(2015, 7, 4), 2015, 7, 4, 6, False),
 (datetime.date(2015, 7, 5), 2015, 7, 5, 7, False),
 (datetime.date(2015, 7, 6), 2015, 7, 6, 1, True),
 (datetime.date(2015, 7, 7), 2015, 7, 7, 2, True),
 (datetime.date(2015, 7, 8), 2015, 7, 8, 3, True),
 (datetime.date(2015, 7, 9), 2015, 7, 9, 4, True),
 (datetime.date(2015, 7, 10), 2015, 7, 10, 5, True),
 (datetime.date(2015, 7, 11), 2015, 7, 11, 6, False),
 (datetime.date(2015, 7, 12), 2015, 7, 12, 7, False),
 (datetime.date(2015, 7, 13), 2015, 7, 13, 1, True),
 (datetime.date(2015, 7, 14), 2015, 7, 14, 2, True),
 (datetime.date(2015, 7, 15), 2015, 7, 15, 3, True),
 (datetime.date(2015, 7, 16), 2015, 7, 16, 4, True),
 (datetime.date(2015, 7, 17), 2015, 7, 17, 5, True),
 (datetime.date(2015, 7, 18), 2015, 7, 18, 6, False),
 (datetime.date(2015, 7, 19), 2015, 7, 19, 7, False),
 (datetime.date(2015, 7, 20), 2015, 7, 20, 1, True),
 (datetime.date(2015, 7, 21), 2015, 7, 21, 2, True),
 (datetime.date(2015, 7, 22), 2015, 7, 22, 3, True),
 (datetime.date(2015, 7, 23), 2015, 7, 23, 4, True),
 (datetime.date(2015, 7, 24), 2015, 7, 24, 5, True),
 (datetime.date(2015, 7, 25), 2015, 7, 25, 6, False),
 (datetime.date(2015, 7, 26), 2015, 7, 26, 7, False),
 (datetime.date(2015, 7, 27), 2015, 7, 27, 1, True),
 (datetime.date(2015, 7, 28), 2015, 7, 28, 2, True),
 (datetime.date(2015, 7, 29), 2015, 7, 29, 3, True),
 (datetime.date(2015, 7, 30), 2015, 7, 30, 4, True),
 (datetime.date(2015, 7, 31), 2015, 7, 31, 5, True),
 (datetime.date(2015, 8, 1), 2015, 8, 1, 6, False),
 (datetime.date(2015, 8, 2), 2015, 8, 2, 7, False),
 (datetime.date(2015, 8, 3), 2015, 8, 3, 1, True),
 (datetime.date(2015, 8, 4), 2015, 8, 4, 2, True),
 (datetime.date(2015, 8, 5), 2015, 8, 5, 3, True),
 (datetime.date(2015, 8, 6), 2015, 8, 6, 4, True),
 (datetime.date(2015, 8, 7), 2015, 8, 7, 5, True),
 (datetime.date(2015, 8, 8), 2015, 8, 8, 6, False),
 (datetime.date(2015, 8, 9), 2015, 8, 9, 7, False),
 (datetime.date(2015, 8, 10), 2015, 8, 10, 1, True),
 (datetime.date(2015, 8, 11), 2015, 8, 11, 2, True),
 (datetime.date(2015, 8, 12), 2015, 8, 12, 3, True),
 (datetime.date(2015, 8, 13), 2015, 8, 13, 4, True),
 (datetime.date(2015, 8, 14), 2015, 8, 14, 5, True),
 (datetime.date(2015, 8, 15), 2015, 8, 15, 6, False),
 (datetime.date(2015, 8, 16), 2015, 8, 16, 7, False),
 (datetime.date(2015, 8, 17), 2015, 8, 17, 1, True),
 (datetime.date(2015, 8, 18), 2015, 8, 18, 2, True),
 (datetime.date(2015, 8, 19), 2015, 8, 19, 3, True),
 (datetime.date(2015, 8, 20), 2015, 8, 20, 4, True),
 (datetime.date(2015, 8, 21), 2015, 8, 21, 5, True),
 (datetime.date(2015, 8, 22), 2015, 8, 22, 6, False),
 (datetime.date(2015, 8, 23), 2015, 8, 23, 7, False),
 (datetime.date(2015, 8, 24), 2015, 8, 24, 1, True),
 (datetime.date(2015, 8, 25), 2015, 8, 25, 2, True),
 (datetime.date(2015, 8, 26), 2015, 8, 26, 3, True),
 (datetime.date(2015, 8, 27), 2015, 8, 27, 4, True),
 (datetime.date(2015, 8, 28), 2015, 8, 28, 5, True),
 (datetime.date(2015, 8, 29), 2015, 8, 29, 6, False),
 (datetime.date(2015, 8, 30), 2015, 8, 30, 7, False),
 (datetime.date(2015, 8, 31), 2015, 8, 31, 1, True),
 (datetime.date(2015, 9, 1), 2015, 9, 1, 2, True),
 (datetime.date(2015, 9, 2), 2015, 9, 2, 3, True),
 (datetime.date(2015, 9, 3), 2015, 9, 3, 4, True),
 (datetime.date(2015, 9, 4), 2015, 9, 4, 5, True),
 (datetime.date(2015, 9, 5), 2015, 9, 5, 6, False),
 (datetime.date(2015, 9, 6), 2015, 9, 6, 7, False),
 (datetime.date(2015, 9, 7), 2015, 9, 7, 1, True),
 (datetime.date(2015, 9, 8), 2015, 9, 8, 2, True),
 (datetime.date(2015, 9, 9), 2015, 9, 9, 3, True),
 (datetime.date(2015, 9, 10), 2015, 9, 10, 4, True),
 (datetime.date(2015, 9, 11), 2015, 9, 11, 5, True),
 (datetime.date(2015, 9, 12), 2015, 9, 12, 6, False),
 (datetime.date(2015, 9, 13), 2015, 9, 13, 7, False),
 (datetime.date(2015, 9, 14), 2015, 9, 14, 1, True),
 (datetime.date(2015, 9, 15), 2015, 9, 15, 2, True),
 (datetime.date(2015, 9, 16), 2015, 9, 16, 3, True),
 (datetime.date(2015, 9, 17), 2015, 9, 17, 4, True),
 (datetime.date(2015, 9, 18), 2015, 9, 18, 5, True),
 (datetime.date(2015, 9, 19), 2015, 9, 19, 6, False),
 (datetime.date(2015, 9, 20), 2015, 9, 20, 7, False),
 (datetime.date(2015, 9, 21), 2015, 9, 21, 1, True),
 (datetime.date(2015, 9, 22), 2015, 9, 22, 2, True),
 (datetime.date(2015, 9, 23), 2015, 9, 23, 3, True),
 (datetime.date(2015, 9, 24), 2015, 9, 24, 4, True),
 (datetime.date(2015, 9, 25), 2015, 9, 25, 5, True),
 (datetime.date(2015, 9, 26), 2015, 9, 26, 6, False),
 (datetime.date(2015, 9, 27), 2015, 9, 27, 7, False),
 (datetime.date(2015, 9, 28), 2015, 9, 28, 1, True),
 (datetime.date(2015, 9, 29), 2015, 9, 29, 2, True),
 (datetime.date(2015, 9, 30), 2015, 9, 30, 3, True),
 (datetime.date(2015, 10, 1), 2015, 10, 1, 4, False),
 (datetime.date(2015, 10, 2), 2015, 10, 2, 5, True),
 (datetime.date(2015, 10, 3), 2015, 10, 3, 6, False),
 (datetime.date(2015, 10, 4), 2015, 10, 4, 7, False),
 (datetime.date(2015, 10, 5), 2015, 10, 5, 1, True),
 (datetime.date(2015, 10, 6), 2015, 10, 6, 2, True),
 (datetime.date(2015, 10, 7), 2015, 10, 7, 3, True),
 (datetime.date(2015, 10, 8), 2015, 10, 8, 4, True),
 (datetime.date(2015, 10, 9), 2015, 10, 9, 5, True),
 (datetime.date(2015, 10, 10), 2015, 10, 10, 6, False),
 (datetime.date(2015, 10, 11), 2015, 10, 11, 7, False),
 (datetime.date(2015, 10, 12), 2015, 10, 12, 1, True),
 (datetime.date(2015, 10, 13), 2015, 10, 13, 2, True),
 (datetime.date(2015, 10, 14), 2015, 10, 14, 3, True),
 (datetime.date(2015, 10, 15), 2015, 10, 15, 4, True),
 (datetime.date(2015, 10, 16), 2015, 10, 16, 5, True),
 (datetime.date(2015, 10, 17), 2015, 10, 17, 6, False),
 (datetime.date(2015, 10, 18), 2015, 10, 18, 7, False),
 (datetime.date(2015, 10, 19), 2015, 10, 19, 1, True),
 (datetime.date(2015, 10, 20), 2015, 10, 20, 2, True),
 (datetime.date(2015, 10, 21), 2015, 10, 21, 3, True),
 (datetime.date(2015, 10, 22), 2015, 10, 22, 4, True),
 (datetime.date(2015, 10, 23), 2015, 10, 23, 5, True),
 (datetime.date(2015, 10, 24), 2015, 10, 24, 6, False),
 (datetime.date(2015, 10, 25), 2015, 10, 25, 7, False),
 (datetime.date(2015, 10, 26), 2015, 10, 26, 1, True),
 (datetime.date(2015, 10, 27), 2015, 10, 27, 2, True),
 (datetime.date(2015, 10, 28), 2015, 10, 28, 3, True),
 (datetime.date(2015, 10, 29), 2015, 10, 29, 4, True),
 (datetime.date(2015, 10, 30), 2015, 10, 30, 5, True),
 (datetime.date(2015, 10, 31), 2015, 10, 31, 6, False),
 (datetime.date(2015, 11, 1), 2015, 11, 1, 7, False),
 (datetime.date(2015, 11, 2), 2015, 11, 2, 1, True),
 (datetime.date(2015, 11, 3), 2015, 11, 3, 2, True),
 (datetime.date(2015, 11, 4), 2015, 11, 4, 3, True),
 (datetime.date(2015, 11, 5), 2015, 11, 5, 4, True),
 (datetime.date(2015, 11, 6), 2015, 11, 6, 5, True),
 (datetime.date(2015, 11, 7), 2015, 11, 7, 6, False),
 (datetime.date(2015, 11, 8), 2015, 11, 8, 7, False),
 (datetime.date(2015, 11, 9), 2015, 11, 9, 1, True),
 (datetime.date(2015, 11, 10), 2015, 11, 10, 2, True),
 (datetime.date(2015, 11, 11), 2015, 11, 11, 3, False),
 (datetime.date(2015, 11, 12), 2015, 11, 12, 4, True),
 (datetime.date(2015, 11, 13), 2015, 11, 13, 5, True),
 (datetime.date(2015, 11, 14), 2015, 11, 14, 6, False),
 (datetime.date(2015, 11, 15), 2015, 11, 15, 7, False),
 (datetime.date(2015, 11, 16), 2015, 11, 16, 1, True),
 (datetime.date(2015, 11, 17), 2015, 11, 17, 2, True),
 (datetime.date(2015, 11, 18), 2015, 11, 18, 3, True),
 (datetime.date(2015, 11, 19), 2015, 11, 19, 4, True),
 (datetime.date(2015, 11, 20), 2015, 11, 20, 5, True),
 (datetime.date(2015, 11, 21), 2015, 11, 21, 6, False),
 (datetime.date(2015, 11, 22), 2015, 11, 22, 7, False),
 (datetime.date(2015, 11, 23), 2015, 11, 23, 1, True),
 (datetime.date(2015, 11, 24), 2015, 11, 24, 2, True),
 (datetime.date(2015, 11, 25), 2015, 11, 25, 3, True),
 (datetime.date(2015, 11, 26), 2015, 11, 26, 4, True),
 (datetime.date(2015, 11, 27), 2015, 11, 27, 5, True),
 (datetime.date(2015, 11, 28), 2015, 11, 28, 6, False),
 (datetime.date(2015, 11, 29), 2015, 11, 29, 7, False),
 (datetime.date(2015, 11, 30), 2015, 11, 30, 1, True),
 (datetime.date(2015, 12, 1), 2015, 12, 1, 2, True),
 (datetime.date(2015, 12, 2), 2015, 12, 2, 3, True),
 (datetime.date(2015, 12, 3), 2015, 12, 3, 4, True),
 (datetime.date(2015, 12, 4), 2015, 12, 4, 5, True),
 (datetime.date(2015, 12, 5), 2015, 12, 5, 6, False),
 (datetime.date(2015, 12, 6), 2015, 12, 6, 7, False),
 (datetime.date(2015, 12, 7), 2015, 12, 7, 1, True),
 (datetime.date(2015, 12, 8), 2015, 12, 8, 2, True),
 (datetime.date(2015, 12, 9), 2015, 12, 9, 3, True),
 (datetime.date(2015, 12, 10), 2015, 12, 10, 4, True),
 (datetime.date(2015, 12, 11), 2015, 12, 11, 5, True),
 (datetime.date(2015, 12, 12), 2015, 12, 12, 6, False),
 (datetime.date(2015, 12, 13), 2015, 12, 13, 7, False),
 (datetime.date(2015, 12, 14), 2015, 12, 14, 1, True),
 (datetime.date(2015, 12, 15), 2015, 12, 15, 2, True),
 (datetime.date(2015, 12, 16), 2015, 12, 16, 3, True),
 (datetime.date(2015, 12, 17), 2015, 12, 17, 4, True),
 (datetime.date(2015, 12, 18), 2015, 12, 18, 5, True),
 (datetime.date(2015, 12, 19), 2015, 12, 19, 6, False),
 (datetime.date(2015, 12, 20), 2015, 12, 20, 7, False),
 (datetime.date(2015, 12, 21), 2015, 12, 21, 1, True),
 (datetime.date(2015, 12, 22), 2015, 12, 22, 2, True),
 (datetime.date(2015, 12, 23), 2015, 12, 23, 3, True),
 (datetime.date(2015, 12, 24), 2015, 12, 24, 4, True),
 (datetime.date(2015, 12, 25), 2015, 12, 25, 5, False),
 (datetime.date(2015, 12, 26), 2015, 12, 26, 6, False),
 (datetime.date(2015, 12, 27), 2015, 12, 27, 7, False),
 (datetime.date(2015, 12, 28), 2015, 12, 28, 1, True),
 (datetime.date(2015, 12, 29), 2015, 12, 29, 2, True),
 (datetime.date(2015, 12, 30), 2015, 12, 30, 3, True),
 (datetime.date(2015, 12, 31), 2015, 12, 31, 4, True),
 (datetime.date(2016, 1, 1), 2016, 1, 1, 5, False),
 (datetime.date(2016, 1, 2), 2016, 1, 2, 6, False),
 (datetime.date(2016, 1, 3), 2016, 1, 3, 7, False),
 (datetime.date(2016, 1, 4), 2016, 1, 4, 1, True),
 (datetime.date(2016, 1, 5), 2016, 1, 5, 2, True),
 (datetime.date(2016, 1, 6), 2016, 1, 6, 3, True),
 (datetime.date(2016, 1, 7), 2016, 1, 7, 4, True),
 (datetime.date(2016, 1, 8), 2016, 1, 8, 5, True),
 (datetime.date(2016, 1, 9), 2016, 1, 9, 6, False),
 (datetime.date(2016, 1, 10), 2016, 1, 10, 7, False),
 (datetime.date(2016, 1, 11), 2016, 1, 11, 1, True),

In [93]:
conn.close()

In [153]:
agg_public_holiday_table_create = (""" 
     CREATE TABLE peluader5437_analytics.agg_public_holiday (
            ingestion_date date NOT NULL PRIMARY KEY,
            tt_order_hol_jan INT NOT NULL,
            tt_order_hol_feb INT NOT NULL,
            tt_order_hol_mar INT NOT NULL,
            tt_order_hol_apr INT NOT NULL,
            tt_order_hol_may INT NOT NULL,
            tt_order_hol_jun INT NOT NULL,
            tt_order_hol_jul INT NOT NULL,
            tt_order_hol_aug INT NOT NULL,
            tt_order_hol_sep INT NOT NULL,
            tt_order_hol_oct INT NOT NULL,
            tt_order_hol_nov INT NOT NULL,
            tt_order_hol_dec INT NOT NULL
        );
""")

In [154]:
agg_public_holiday_table_insert = '''INSERT INTO peluader5437_analytics.agg_public_holiday (
            ingestion_date, tt_order_hol_jan, tt_order_hol_feb, tt_order_hol_mar,
            tt_order_hol_apr, tt_order_hol_may, tt_order_hol_jun, tt_order_hol_jul,
            tt_order_hol_aug, tt_order_hol_sep, tt_order_hol_oct, tt_order_hol_nov,
            tt_order_hol_dec)
            SELECT
            now() AS ingestion_date,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2  
            WHERE EXTRACT(MONTH FROM t2.order_date) = 1) AS tt_order_hol_jan,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 2) AS tt_order_hol_feb,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 3) AS tt_order_hol_mar,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 4) AS tt_order_hol_apr,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 5) AS tt_order_hol_may,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 6) AS tt_order_hol_jun,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 7) AS tt_order_hol_jul,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 8) AS tt_order_hol_aug,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 9) AS tt_order_hol_sep,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 10) AS tt_order_hol_oct,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 11) AS tt_order_hol_nov,
            (SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 12) AS tt_order_hol_dec
            
            '''

In [155]:
agg_public_holiday_table_drop = "drop table if exists peluader5437_analytics.agg_public_holiday"

cur.execute(agg_public_holiday_table_drop)
conn.commit()

In [156]:
cur.execute(agg_public_holiday_table_create)
conn.commit()

In [157]:
cur.execute(agg_public_holiday_table_insert)
conn.commit()

In [4]:
cur.execute('''SELECT
            SUM(t2.quantity) FROM (select order_date, quantity  FROM peluader5437_staging.orders so 
            JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 
            WHERE EXTRACT(MONTH FROM t2.order_date) = 10;''') # SQL command to print the tables in this particular schema
conn.commit()

In [5]:
cur.fetchall()

[(96,)]

In [6]:
cur.execute('''SELECT * FROM (select *  FROM peluader5437_staging.orders so 
            JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2 ;''') # SQL command to print the tables in this particular schema
conn.commit()

In [7]:
cur.fetchall()

[(3528,
  3,
  datetime.date(2021, 1, 1),
  '20',
  438,
  2,
  876,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (2000,
  2,
  datetime.date(2021, 1, 1),
  '6',
  103,
  6,
  618,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (9321,
  6,
  datetime.date(2021, 1, 1),
  '18',
  552,
  9,
  4968,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (6109,
  9,
  datetime.date(2021, 1, 1),
  '11',
  359,
  9,
  3231,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (9883,
  1,
  datetime.date(2021, 1, 1),
  '23',
  50,
  6,
  300,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (2773,
  5,
  datetime.date(2021, 1, 1),
  '24',
  126,
  5,
  630,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (3372,
  8,
  datetime.date(2021, 1, 1),
  '19',
  487,
  6,
  2922,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (2258,
  1,
  datetime.date(2021, 1, 1),
  '14',
  101,
  5,
  505,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (8567,
  20,
  datetime.date(2021, 1, 1),
  '3',
  235,
  4,
  940,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (5453,
  7,
  datetime.date(2021, 1, 1),
  '12',
  129,
  2,
  258,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (4861,
  13,
  datetime.date(2021, 1, 1),
  '21',
  185,
  5,
  925,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (1673,
  20,
  datetime.date(2021, 1, 1),
  '10',
  111,
  8,
  888,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (4259,
  10,
  datetime.date(2021, 1, 1),
  '25',
  93,
  7,
  651,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (5557,
  21,
  datetime.date(2021, 1, 1),
  '20',
  524,
  5,
  2620,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (4321,
  4,
  datetime.date(2021, 1, 1),
  '25',
  619,
  9,
  5571,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (3780,
  7,
  datetime.date(2021, 1, 1),
  '16',
  399,
  3,
  1197,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (6940,
  10,
  datetime.date(2021, 1, 1),
  '13',
  976,
  5,
  4880,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (1276,
  1,
  datetime.date(2021, 1, 1),
  '16',
  88,
  7,
  616,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (89,
  10,
  datetime.date(2021, 1, 1),
  '13',
  361,
  5,
  1805,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (5696,
  7,
  datetime.date(2021, 1, 1),
  '24',
  353,
  2,
  706,
  datetime.date(2021, 1, 1),
  2021,
  1,
  1,
  5,
  False),
 (7645,
  1,
  datetime.date(2021, 3, 29),
  '18',
  942,
  3,
  2826,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (8772,
  1,
  datetime.date(2021, 3, 29),
  '3',
  757,
  8,
  6056,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (547,
  4,
  datetime.date(2021, 3, 29),
  '10',
  168,
  3,
  504,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (920,
  24,
  datetime.date(2021, 3, 29),
  '24',
  271,
  8,
  2168,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (8861,
  5,
  datetime.date(2021, 3, 29),
  '19',
  295,
  6,
  1770,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (5965,
  13,
  datetime.date(2021, 3, 29),
  '7',
  826,
  6,
  4956,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (2925,
  22,
  datetime.date(2021, 3, 29),
  '4',
  71,
  1,
  71,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (6554,
  8,
  datetime.date(2021, 3, 29),
  '1',
  213,
  3,
  639,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (881,
  13,
  datetime.date(2021, 3, 29),
  '18',
  362,
  4,
  1448,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (1086,
  18,
  datetime.date(2021, 3, 29),
  '13',
  458,
  9,
  4122,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (9809,
  8,
  datetime.date(2021, 3, 29),
  '12',
  391,
  3,
  1173,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (5798,
  14,
  datetime.date(2021, 3, 29),
  '19',
  916,
  5,
  4580,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (8507,
  17,
  datetime.date(2021, 3, 29),
  '1',
  726,
  10,
  7260,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (5448,
  20,
  datetime.date(2021, 3, 29),
  '13',
  764,
  4,
  3056,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (3875,
  10,
  datetime.date(2021, 3, 29),
  '11',
  653,
  9,
  5877,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (540,
  23,
  datetime.date(2021, 3, 29),
  '18',
  161,
  4,
  644,
  datetime.date(2021, 3, 29),
  2021,
  3,
  29,
  1,
  False),
 (9304,
  18,
  datetime.date(2021, 4, 1),
  '5',
  711,
  2,
  1422,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (5293,
  6,
  datetime.date(2021, 4, 1),
  '17',
  346,
  2,
  692,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (3468,
  12,
  datetime.date(2021, 4, 1),
  '13',
  887,
  1,
  887,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (5278,
  19,
  datetime.date(2021, 4, 1),
  '18',
  795,
  1,
  795,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (3411,
  13,
  datetime.date(2021, 4, 1),
  '12',
  420,
  9,
  3780,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (9725,
  15,
  datetime.date(2021, 4, 1),
  '22',
  565,
  6,
  3390,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (817,
  15,
  datetime.date(2021, 4, 1),
  '19',
  927,
  8,
  7416,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (3371,
  14,
  datetime.date(2021, 4, 1),
  '11',
  565,
  10,
  5650,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (6724,
  10,
  datetime.date(2021, 4, 1),
  '16',
  189,
  4,
  756,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (9896,
  20,
  datetime.date(2021, 4, 1),
  '11',
  104,
  10,
  1040,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (7240,
  12,
  datetime.date(2021, 4, 1),
  '21',
  84,
  6,
  504,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (6606,
  11,
  datetime.date(2021, 4, 1),
  '11',
  877,
  8,
  7016,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (7591,
  16,
  datetime.date(2021, 4, 1),
  '23',
  649,
  8,
  5192,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (6480,
  11,
  datetime.date(2021, 4, 1),
  '15',
  159,
  4,
  636,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (3930,
  25,
  datetime.date(2021, 4, 1),
  '4',
  689,
  9,
  6201,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (8696,
  5,
  datetime.date(2021, 4, 1),
  '14',
  262,
  9,
  2358,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (5896,
  15,
  datetime.date(2021, 4, 1),
  '15',
  737,
  2,
  1474,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (4500,
  15,
  datetime.date(2021, 4, 1),
  '22',
  628,
  2,
  1256,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (9818,
  22,
  datetime.date(2021, 4, 1),
  '19',
  447,
  7,
  3129,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (2786,
  8,
  datetime.date(2021, 4, 1),
  '17',
  799,
  10,
  7990,
  datetime.date(2021, 4, 1),
  2021,
  4,
  1,
  4,
  False),
 (1249,
  12,
  datetime.date(2021, 8, 30),
  '6',
  546,
  3,
  1638,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (9033,
  7,
  datetime.date(2021, 8, 30),
  '15',
  903,
  10,
  9030,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (5133,
  1,
  datetime.date(2021, 8, 30),
  '16',
  807,
  2,
  1614,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (1477,
  21,
  datetime.date(2021, 8, 30),
  '6',
  465,
  4,
  1860,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (7767,
  22,
  datetime.date(2021, 8, 30),
  '18',
  743,
  6,
  4458,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (229,
  7,
  datetime.date(2021, 8, 30),
  '15',
  925,
  6,
  5550,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (3643,
  3,
  datetime.date(2021, 8, 30),
  '21',
  616,
  9,
  5544,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (7897,
  1,
  datetime.date(2021, 8, 30),
  '4',
  183,
  1,
  183,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (7150,
  7,
  datetime.date(2021, 8, 30),
  '17',
  933,
  1,
  933,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (1032,
  22,
  datetime.date(2021, 8, 30),
  '7',
  698,
  7,
  4886,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (7920,
  19,
  datetime.date(2021, 8, 30),
  '18',
  419,
  9,
  3771,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (7535,
  10,
  datetime.date(2021, 8, 30),
  '20',
  647,
  3,
  1941,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (8415,
  21,
  datetime.date(2021, 8, 30),
  '6',
  120,
  2,
  240,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (1212,
  19,
  datetime.date(2021, 8, 30),
  '11',
  227,
  2,
  454,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (2325,
  24,
  datetime.date(2021, 8, 30),
  '11',
  555,
  2,
  1110,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (8658,
  17,
  datetime.date(2021, 8, 30),
  '24',
  407,
  2,
  814,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (8242,
  5,
  datetime.date(2021, 8, 30),
  '17',
  262,
  7,
  1834,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (2471,
  18,
  datetime.date(2021, 8, 30),
  '16',
  379,
  8,
  3032,
  datetime.date(2021, 8, 30),
  2021,
  8,
  30,
  1,
  False),
 (3244,
  13,
  datetime.date(2021, 10, 1),
  '16',
  657,
  5,
  3285,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (5145,
  8,
  datetime.date(2021, 10, 1),
  '21',
  415,
  7,
  2905,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (4778,
  8,
  datetime.date(2021, 10, 1),
  '15',
  840,
  5,
  4200,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (5771,
  11,
  datetime.date(2021, 10, 1),
  '13',
  235,
  10,
  2350,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (380,
  8,
  datetime.date(2021, 10, 1),
  '15',
  510,
  4,
  2040,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (2517,
  25,
  datetime.date(2021, 10, 1),
  '17',
  135,
  3,
  405,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (2044,
  8,
  datetime.date(2021, 10, 1),
  '2',
  692,
  9,
  6228,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (3760,
  22,
  datetime.date(2021, 10, 1),
  '21',
  94,
  10,
  940,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (7788,
  9,
  datetime.date(2021, 10, 1),
  '7',
  347,
  5,
  1735,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (7174,
  11,
  datetime.date(2021, 10, 1),
  '24',
  317,
  5,
  1585,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (5028,
  10,
  datetime.date(2021, 10, 1),
  '19',
  372,
  10,
  3720,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (75,
  14,
  datetime.date(2021, 10, 1),
  '22',
  213,
  2,
  426,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (5091,
  3,
  datetime.date(2021, 10, 1),
  '17',
  980,
  9,
  8820,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (3214,
  13,
  datetime.date(2021, 10, 1),
  '11',
  197,
  3,
  591,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (177,
  25,
  datetime.date(2021, 10, 1),
  '2',
  612,
  3,
  1836,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (1954,
  5,
  datetime.date(2021, 10, 1),
  '13',
  104,
  6,
  624,
  datetime.date(2021, 10, 1),
  2021,
  10,
  1,
  5,
  False),
 (4409,
  5,
  datetime.date(2021, 11, 11),
  '19',
  187,
  6,
  1122,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (3690,
  18,
  datetime.date(2021, 11, 11),
  '12',
  830,
  3,
  2490,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (2217,
  9,
  datetime.date(2021, 11, 11),
  '14',
  940,
  10,
  9400,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (9823,
  5,
  datetime.date(2021, 11, 11),
  '8',
  549,
  8,
  4392,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (2674,
  25,
  datetime.date(2021, 11, 11),
  '8',
  563,
  5,
  2815,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (163,
  3,
  datetime.date(2021, 11, 11),
  '2',
  659,
  10,
  6590,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (6883,
  10,
  datetime.date(2021, 11, 11),
  '12',
  359,
  3,
  1077,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (7701,
  25,
  datetime.date(2021, 11, 11),
  '18',
  118,
  5,
  590,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (7082,
  16,
  datetime.date(2021, 11, 11),
  '25',
  622,
  4,
  2488,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (5895,
  2,
  datetime.date(2021, 11, 11),
  '7',
  353,
  1,
  353,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (1294,
  1,
  datetime.date(2021, 11, 11),
  '6',
  890,
  2,
  1780,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (7407,
  11,
  datetime.date(2021, 11, 11),
  '7',
  865,
  9,
  7785,
  datetime.date(2021, 11, 11),
  2021,
  11,
  11,
  4,
  False),
 (9216,
  16,
  datetime.date(2022, 2, 14),
  '17',
  183,
  8,
  1464,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (8123,
  19,
  datetime.date(2022, 2, 14),
  '3',
  793,
  2,
  1586,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (5919,
  23,
  datetime.date(2022, 2, 14),
  '5',
  66,
  7,
  462,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (7005,
  17,
  datetime.date(2022, 2, 14),
  '5',
  947,
  9,
  8523,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (2216,
  20,
  datetime.date(2022, 2, 14),
  '17',
  242,
  2,
  484,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (4560,
  23,
  datetime.date(2022, 2, 14),
  '13',
  206,
  3,
  618,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (6779,
  19,
  datetime.date(2022, 2, 14),
  '15',
  88,
  2,
  176,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (6870,
  5,
  datetime.date(2022, 2, 14),
  '18',
  213,
  9,
  1917,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (8066,
  5,
  datetime.date(2022, 2, 14),
  '25',
  551,
  9,
  4959,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (2197,
  9,
  datetime.date(2022, 2, 14),
  '11',
  131,
  9,
  1179,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (951,
  6,
  datetime.date(2022, 2, 14),
  '3',
  411,
  7,
  2877,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (5440,
  23,
  datetime.date(2022, 2, 14),
  '13',
  834,
  8,
  6672,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (7182,
  6,
  datetime.date(2022, 2, 14),
  '8',
  411,
  5,
  2055,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (5858,
  24,
  datetime.date(2022, 2, 14),
  '19',
  737,
  7,
  5159,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (803,
  6,
  datetime.date(2022, 2, 14),
  '4',
  517,
  5,
  2585,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (4868,
  17,
  datetime.date(2022, 2, 14),
  '12',
  470,
  3,
  1410,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (79,
  12,
  datetime.date(2022, 2, 14),
  '21',
  745,
  9,
  6705,
  datetime.date(2022, 2, 14),
  2022,
  2,
  14,
  1,
  False),
 (415,
  23,
  datetime.date(2022, 3, 29),
  '3',
  721,
  5,
  3605,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (1602,
  6,
  datetime.date(2022, 3, 29),
  '24',
  830,
  9,
  7470,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (7626,
  17,
  datetime.date(2022, 3, 29),
  '23',
  848,
  7,
  5936,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (7666,
  15,
  datetime.date(2022, 3, 29),
  '9',
  619,
  9,
  5571,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (3606,
  25,
  datetime.date(2022, 3, 29),
  '15',
  336,
  5,
  1680,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (9191,
  25,
  datetime.date(2022, 3, 29),
  '4',
  509,
  5,
  2545,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (6353,
  4,
  datetime.date(2022, 3, 29),
  '4',
  159,
  10,
  1590,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (5262,
  19,
  datetime.date(2022, 3, 29),
  '25',
  456,
  3,
  1368,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (8954,
  19,
  datetime.date(2022, 3, 29),
  '15',
  495,
  8,
  3960,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (68,
  21,
  datetime.date(2022, 3, 29),
  '9',
  614,
  7,
  4298,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (6853,
  11,
  datetime.date(2022, 3, 29),
  '13',
  186,
  7,
  1302,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (1407,
  23,
  datetime.date(2022, 3, 29),
  '12',
  961,
  10,
  9610,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (2891,
  12,
  datetime.date(2022, 3, 29),
  '15',
  661,
  1,
  661,
  datetime.date(2022, 3, 29),
  2022,
  3,
  29,
  2,
  False),
 (6556,
  17,
  datetime.date(2022, 4, 1),
  '8',
  816,
  5,
  4080,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (5318,
  9,
  datetime.date(2022, 4, 1),
  '2',
  846,
  2,
  1692,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (4304,
  22,
  datetime.date(2022, 4, 1),
  '14',
  805,
  5,
  4025,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (6796,
  22,
  datetime.date(2022, 4, 1),
  '5',
  811,
  4,
  3244,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (9647,
  8,
  datetime.date(2022, 4, 1),
  '10',
  316,
  6,
  1896,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (9179,
  1,
  datetime.date(2022, 4, 1),
  '23',
  586,
  3,
  1758,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (2387,
  24,
  datetime.date(2022, 4, 1),
  '4',
  800,
  7,
  5600,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (1933,
  17,
  datetime.date(2022, 4, 1),
  '10',
  193,
  10,
  1930,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (2418,
  23,
  datetime.date(2022, 4, 1),
  '23',
  960,
  7,
  6720,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (4305,
  5,
  datetime.date(2022, 4, 1),
  '19',
  324,
  8,
  2592,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (7123,
  24,
  datetime.date(2022, 4, 1),
  '11',
  721,
  7,
  5047,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (1919,
  21,
  datetime.date(2022, 4, 1),
  '13',
  426,
  1,
  426,
  datetime.date(2022, 4, 1),
  2022,
  4,
  1,
  5,
  False),
 (9073,
  12,
  datetime.date(2022, 7, 4),
  '25',
  951,
  1,
  951,
  datetime.date(2022, 7, 4),
  2022,
  7,
  4,
  1,
  False),
 (3029,
  13,
  datetime.date(2022, 7, 4),
  '7',
  57,
  10,
  570,
  datetime.date(2022, 7, 4),
  2022,
  7,
  4,
  1,
  False),
 (2660,
  16,
  datetime.date(2022, 7, 4),
  '15',
  952,
  1,
  952,
  datetime.date(2022, 7, 4),
  2022,
  7,
  4,
  1,
  False),
 (6567,
  16,
  datetime.date(2022, 7, 4),
  '16',
  317,
  1,
  317,
  datetime.date(2022, 7, 4),
  2022,
  7,
  4,
  1,
  False),
 (5998,
  8,
  datetime.date(2022, 7, 4),
  '25',
  532,
  8,
  4256,
  datetime.date(2022, 7, 4),
  2022,
  7,
  4,
  1,
  False),
 (3001,
  11,

In [177]:
conn.close()

In [160]:
agg_shipments_table_create = (""" 
     CREATE TABLE peluader5437_analytics.agg_shipments (
            ingestion_date date NOT NULL PRIMARY KEY,
            tt_late_shipments INT NOT NULL,
            tt_undelivered_items INT NOT NULL
        );
""")

In [161]:
agg_shipments_table_drop = "drop table if exists peluader5437_analytics.agg_shipments"

In [162]:
cur.execute(agg_shipments_table_drop)
conn.commit()

In [163]:
cur.execute(agg_shipments_table_create)
conn.commit()

In [164]:
agg_shipments_table_insert = '''INSERT INTO peluader5437_analytics.agg_shipments (
            ingestion_date, tt_late_shipments, tt_undelivered_items)
            SELECT
            now() AS ingestion_date,
            (SELECT
            COUNT(*) FROM (SELECT *  FROM peluader5437_staging.orders so 
            JOIN peluader5437_staging.shipments_deliveries sd ON so.order_id = sd.order_id) t1 WHERE DATE_PART('day', t1.shipment_date::timestamp - t1.order_date::timestamp) >= 6 AND t1.delivery_date IS NULL )  AS tt_late_shipments,
            
            (SELECT
            COUNT(*) FROM (SELECT *  FROM peluader5437_staging.orders so 
            JOIN peluader5437_staging.shipments_deliveries sd ON so.order_id = sd.order_id) t1 WHERE t1.shipment_date IS NULL AND t1.delivery_date IS NULL AND DATE_PART('day', '2022-09-05'::timestamp - t1.order_date::timestamp) >= 15 )  AS tt_undelivered_items
            '''

In [165]:
cur.execute(agg_shipments_table_insert)
conn.commit()

In [131]:
cur.execute('''SELECT
            SUM(t2.quantity) FROM (select *  FROM peluader5437_staging.orders so 
            JOIN if_common.dim_dates idd ON so.order_date::timestamp = idd.calendar_dt::timestamp
            WHERE idd.day_of_the_week_num<6 AND idd.working_day=FALSE) t2  
            WHERE EXTRACT(MONTH FROM t2.order_date) = 3;''') # SQL command to print the tables in this particular schema
conn.commit()

In [132]:
cur.fetchall()

[(172,)]

In [178]:
best_performing_product_table_drop = "drop table if exists peluader5437_analytics.best_performing_product"

In [179]:
best_performing_product_table_create = (""" 
     CREATE TABLE peluader5437_analytics.best_performing_product (
            ingestion_date date NOT NULL PRIMARY KEY,
            product_name varchar NOT NULL,
            most_ordered_day date NOT NULL,
            is_public_holiday bool NOT NULL,
            tt_review_points INT NOT NULL,
            pct_one_star_review float NOT NULL,
            pct_two_star_review float NOT NULL,
            pct_three_star_review float NOT NULL,
            pct_four_star_review float NOT NULL,
            pct_five_star_review float NOT NULL,
            pct_early_shipments float NOT NULL,
            pct_late_shipments float NOT NULL
        );
""")

In [180]:
cur.execute(best_performing_product_table_drop)
conn.commit()

In [181]:
cur.execute(best_performing_product_table_create)
conn.commit()

In [ ]:
best_performing_product_table_insert = '''INSERT INTO peluader5437_analytics.best_performing_product (
            ingestion_date, product_name, most_ordered_day, is_public_holiday, tt_review_points,
            pct_one_star_review, pct_two_star_review, pct_three_star_review, pct_four_star_review,
            pct_five_star_review float, pct_early_shipments float, pct_late_shipments)
            SELECT
            now() AS ingestion_date,

            (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties) AS product_name,

            (SELECT t2.order_date FROM (SELECT * FROM if_common.dim_products dp JOIN peluader5437_staging.orders so ON dp.product_id = so.product_id::INT WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr 
            JOIN if_common.dim_products dp ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties)) t2 
            GROUP BY order_date ORDER By SUM(t2.quantity) DESC fetch first 1 rows with ties) AS most_ordered_day,

            (SELECT
                CASE
                    WHEN (day_of_the_week_num < 6) AND (working_day = FALSE) THEN 'TRUE'
                    ELSE 'FALSE'
                END AS is_public_holiday
                FROM (SELECT t2.order_date FROM (SELECT * FROM if_common.dim_products dp JOIN peluader5437_staging.orders so ON dp.product_id = so.product_id::INT 
                WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp ON sr.product_id = dp.product_id 
                GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties)) t2 GROUP BY order_date ORDER By SUM(t2.quantity) DESC fetch first 1 rows with ties) t3
                JOIN if_common.dim_dates idd ON (t3.order_date::timestamp = idd.calendar_dt::timestamp)), 

            (SELECT MAX(tt_review) FROM (SELECT product_name, SUM(review) as tt_review FROM if_common.dim_products dp 
            JOIN peluader5437_staging.reviews sr ON dp.product_id = sr.product_id GROUP BY product_name) tt) AS tt_review_points,

            (SELECT  (SELECT COUNT(*) FROM peluader5437_staging.reviews sr JOIN if_common.dim_products idp
            ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties) AND review = 1)/(SELECT COUNT(*) FROM peluader5437_staging.reviews sr 
            JOIN if_common.dim_products idp ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))::float * 100) AS pct_one_star_review,

            (SELECT  (SELECT COUNT(*) FROM peluader5437_staging.reviews sr JOIN if_common.dim_products idp
            ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties) AND review = 2)/(SELECT COUNT(*) FROM peluader5437_staging.reviews sr 
            JOIN if_common.dim_products idp ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))::float * 100) AS pct_two_star_review,

            (SELECT  (SELECT COUNT(*) FROM peluader5437_staging.reviews sr JOIN if_common.dim_products idp
            ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties) AND review = 3)/(SELECT COUNT(*) FROM peluader5437_staging.reviews sr 
            JOIN if_common.dim_products idp ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))::float * 100) AS pct_three_star_review,

            (SELECT  (SELECT COUNT(*) FROM peluader5437_staging.reviews sr JOIN if_common.dim_products idp
            ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties) AND review = 4)/(SELECT COUNT(*) FROM peluader5437_staging.reviews sr 
            JOIN if_common.dim_products idp ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))::float * 100) AS pct_four_star_review,

            (SELECT  (SELECT COUNT(*) FROM peluader5437_staging.reviews sr JOIN if_common.dim_products idp
            ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties) AND review = 5)/(SELECT COUNT(*) FROM peluader5437_staging.reviews sr 
            JOIN if_common.dim_products idp ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))::float * 100) AS pct_five_star_review,

            (SELECT (SELECT
            COUNT(*) FROM (SELECT *  FROM peluader5437_staging.orders so 
            JOIN peluader5437_staging.shipments_deliveries sd ON so.order_id = sd.order_id) t1 JOIN if_common.dim_products idp
            ON t1.product_id::INT = idp.product_id WHERE DATE_PART('day', t1.shipment_date::timestamp - t1.order_date::timestamp) < 6 
            AND t1.delivery_date IS NOT NULL AND product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))/(SELECT
            COUNT(*) FROM (SELECT *  FROM peluader5437_staging.orders so 
            JOIN peluader5437_staging.shipments_deliveries sd ON so.order_id = sd.order_id) t1 JOIN if_common.dim_products idp
            ON t1.product_id::INT = idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))::float * 100) AS pct_early_shipments,


            (SELECT (SELECT
            COUNT(*) FROM (SELECT *  FROM peluader5437_staging.orders so 
            JOIN peluader5437_staging.shipments_deliveries sd ON so.order_id = sd.order_id) t1 JOIN if_common.dim_products idp
            ON t1.product_id::INT = idp.product_id WHERE DATE_PART('day', t1.shipment_date::timestamp - t1.order_date::timestamp) >= 6 
            AND t1.delivery_date IS NULL AND product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))/(SELECT
            COUNT(*) FROM (SELECT *  FROM peluader5437_staging.orders so 
            JOIN peluader5437_staging.shipments_deliveries sd ON so.order_id = sd.order_id) t1 WHERE DATE_PART('day', t1.shipment_date::timestamp - t1.order_date::timestamp) >= 6 
            AND t1.delivery_date IS NULL)::float * 100) AS pct_late_shipments
            
            '''

In [149]:
conn.close()

In [216]:
cur.execute("SELECT t2.order_date FROM (SELECT * FROM if_common.dim_products dp JOIN peluader5437_staging.orders so ON dp.product_id = so.product_id::INT WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties)) t2 GROUP BY order_date ORDER By SUM(t2.quantity) DESC fetch first 1 rows with ties ;") # Sql command to list all available schemas in the database
conn.commit()

In [217]:
cur.fetchall()

[(datetime.date(2022, 1, 6),)]

In [125]:
cur.execute('''SELECT
CASE
    WHEN (day_of_the_week_num < 6) AND (working_day = FALSE) THEN 'TRUE'
    ELSE 'FALSE'
END AS is_public_holiday
FROM (SELECT t2.order_date FROM (SELECT * FROM if_common.dim_products dp JOIN peluader5437_staging.orders so ON dp.product_id = so.product_id::INT 
WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp ON sr.product_id = dp.product_id 
GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties)) t2 GROUP BY order_date ORDER By SUM(t2.quantity) DESC fetch first 1 rows with ties) t3
JOIN if_common.dim_dates idd ON (t3.order_date::timestamp = idd.calendar_dt::timestamp);

''')
conn.commit()

In [126]:
cur.fetchall()

[('FALSE',)]

In [30]:
cur.execute('''SELECT (SELECT
            COUNT(*) FROM (SELECT *  FROM peluader5437_staging.orders so 
            JOIN peluader5437_staging.shipments_deliveries sd ON so.order_id = sd.order_id) t1 JOIN if_common.dim_products idp
            ON t1.product_id::INT = idp.product_id WHERE DATE_PART('day', t1.shipment_date::timestamp - t1.order_date::timestamp) >= 6 
            AND t1.delivery_date IS NULL AND product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))/(SELECT
            COUNT(*) FROM (SELECT *  FROM peluader5437_staging.orders so 
            JOIN peluader5437_staging.shipments_deliveries sd ON so.order_id = sd.order_id) t1 JOIN if_common.dim_products idp
            ON t1.product_id::INT = idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))::float * 100;''')

In [32]:
cur.execute('''SELECT
            COUNT(*) FROM (SELECT *  FROM peluader5437_staging.orders so 
            JOIN peluader5437_staging.shipments_deliveries sd ON so.order_id = sd.order_id) t1 JOIN if_common.dim_products idp
            ON t1.product_id::INT = idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
            ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties);''')

In [33]:
cur.fetchall()

[(444,)]

In [13]:
cur.execute("SELECT SUM(review) FROM peluader5437_staging.reviews where review=2;")

In [14]:
cur.fetchall()

[(2844,)]

In [ ]:
conn.close()

In [15]:
cur.execute("SELECT SUM(review) FROM peluader5437_staging.reviews where review=3;")

In [16]:
cur.fetchall()

[(4209,)]

In [117]:
cur.execute("SELECT (SELECT COUNT(*) FROM peluader5437_staging.reviews where review=5)/(SELECT COUNT(*) FROM peluader5437_staging.reviews)::float;")

In [105]:
cur.execute("SELECT 53/309::float;")

In [118]:

cur.fetchall()

[(0.20301271420674405,)]

In [115]:
cur.execute("SELECT COUNT(review) FROM peluader5437_staging.reviews where review=5;")

In [116]:
cur.fetchall()

[(1469,)]

In [121]:
cur.execute('''SELECT  (SELECT COUNT(*) FROM peluader5437_staging.reviews sr JOIN if_common.dim_products idp
 ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties) AND review = 1)/(SELECT COUNT(*) FROM peluader5437_staging.reviews sr 
JOIN if_common.dim_products idp ON sr.product_id=idp.product_id WHERE product_name = (SELECT product_name FROM peluader5437_staging.reviews sr JOIN if_common.dim_products dp 
ON sr.product_id = dp.product_id GROUP BY product_name ORDER BY SUM(review) DESC fetch first 1 rows with ties))::float * 100;''')

In [122]:
cur.fetchall()

[(17.15210355987055,)]

In [25]:
cur.execute("SELECT product_name, SUM(review) as tt_review FROM if_common.dim_products dp JOIN peluader5437_staging.reviews sr ON dp.product_id = sr.product_id GROUP BY product_name;")

In [26]:
cur.fetchall()

[('Screwdriver', 940),
 ('Car', 821),
 ('Smartphone', 785),
 ('Jeans', 893),
 ('Underwear', 804),
 ('Camera', 868),
 ('Saucepan', 916),
 ('Hammer', 876),
 ('Wardrobe', 864),
 ('Bicycle', 912),
 ('Non-stick pan', 898),
 ('Armchair', 843),
 ('Tablet', 949),
 ('Scooter', 967),
 ('T-shirt', 842),
 ('Nails', 925),
 ('Bed', 898),
 ('Frying pan', 849),
 ('Laptop', 806),
 ('Shoes', 896),
 ('Motorcycle', 880),
 ('Sofa', 824),
 ('Books', 848),
 ('Jacket', 875),
 ('Socks', 834)]

In [ ]:
cur.execute("select * from peluader5437_analytics.best_performing_product;") # SQL command to print the tables in this particular schema
conn.commit()

In [ ]:
cur.fetchall()